
.fadein {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.leftAnim {
    animation: leftInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.rightAnim {
    animation: rightInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.topAnim {
    animation: topInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.bottomAnim {
    animation: bottomInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.leftAnim2 {
    animation: leftInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
}

.rightAnim2 {
    animation: rightInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
}

.topAnim2 {
    animation: topInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
}

.bottomAnim2 {
    animation: bottomInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes leftInAnimation {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes topInAnimation {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes rightInAnimation {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes bottomInAnimation {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}



.service-animation {
    animation: servicesAnim ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes servicesAnim {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}